* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('image.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    color: #2c3e50;
}

header p {
    font-size: 16px;
    color: #7f8c8d;
}

.form-container {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #34495e;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #3498db;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.bill-details {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
    font-size: 16px;
    display: none;
}

.bill-details h3 {
    font-size: 18px;
    color: #2c3e50;
}

.bill-details p {
    font-size: 16px;
    color: #34495e;
}
